<ion-header>
  <ion-toolbar style="--background:coral">
    <ion-title style="color:white">Register Subscriber</ion-title>
    <ion-buttons slot="start" style="color:white">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-icon slot="end" name="home" style="color:white; zoom:2;" (click)="navigateToHome()"></ion-icon>
  </ion-toolbar>
 
</ion-header>

<ion-content>
    <ion-row>
      <ion-col>
        <ion-item lines="none" style="border-bottom:1px solid grey;margin-left:10px;margin-right:10px ">
          <ion-label position="floating" >Name <span style="color:red">*</span></ion-label>
          <ion-input [(ngModel)]="name"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item lines="none" style="border-bottom:1px solid grey;margin-left:10px;margin-right:10px ">
          <ion-label position="floating">Street address <span style="color:red">*</span></ion-label>
          <ion-input [(ngModel)]="street_address"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item lines="none" style="border-bottom:1px solid grey;margin-left:10px;margin-right:10px ">
          <ion-label position="floating">State <span style="color:red">*</span></ion-label>
          <ion-input [(ngModel)]="state"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item lines="none" style="border-bottom:1px solid grey;margin-left:10px;margin-right:10px ">
          <ion-label position="floating">District <span style="color:red">*</span></ion-label>
          <ion-input [(ngModel)]="district"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col>
        <ion-item lines="none" style="border-bottom:1px solid grey;margin-left:10px;margin-right:10px ">
          <ion-label position="floating">Taluk <span style="color:red">*</span></ion-label>
          <ion-input [(ngModel)]="taluk"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item lines="none" style="border-bottom:1px solid grey;margin-left:10px;margin-right:10px ">
          <ion-label position="floating">Pincode <span style="color:red">*</span></ion-label>
          <ion-input type="number"[(ngModel)]="pincode" ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item lines="none" style="border-bottom:1px solid grey;margin-left:10px;margin-right:10px ">
          <ion-label position="floating">Phone number <span style="color:red">*</span></ion-label>
          <ion-input type="number" [(ngModel)]="phone_number" ></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
          <ion-item lines="none" style="border-bottom:1px solid grey;margin-left:10px;margin-right:10px ">
            <ion-label position="floating">E - mail </ion-label>
            <ion-input type="email" [(ngModel)]="email" ></ion-input>
          </ion-item>
        </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        <ion-button (click)="onSubscribeRegister()">submit</ion-button>
      </ion-col>
    </ion-row>
</ion-content>