<ion-header>
  <ion-toolbar style="--background:coral" *ngIf="user != null">
    <ion-title style="color: white;font-weight: bold">CDB JOURNALS</ion-title>
    <span slot="end" style="color: white;text-transform: capitalize;display: block">
     <ion-button size="small" color="light" fill="outline" (click)="presentAlertPrompt()" *ngIf="user['name'] == null" style="margin-right: 13px;">Guest</ion-button> 
     <span *ngIf="user['name'] != null" style="margin-right: 35px;margin-left:-20px">Hi!, {{user['name']}}<ion-icon name="log-out" style="font-size:22px;margin-left:15px;" (click)="confirmLogout()"></ion-icon></span>
    </span>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="user != null">
  <ion-row style="margin-left:4px;margin-top: 7px;">
    <ion-col text-right size="6" style="margin-top:10px;text-transform: capitalize;margin-top: 0px;margin-left: 171px;" >
      <ion-button size="small" color="danger" (click)="navigateToSelectSubscription()" shape="round">Subscribe</ion-button> 
      </ion-col>
  </ion-row>
  <ion-row style="margin-left: 5px;margin-right: 5px;">
    <ion-col size="4" *ngFor="let journal of journal_datas" (click)="getPdfdocument(journal)">
      <ion-card>
        <img src="data:image/jpeg;base64,{{ journal['thumbnail'] }}">
        <span style="margin-left: 19px;font-weight: bold;"> {{ journal['published_date'] | date:"MMM 'yyyy" }}</span>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
